@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: hsl(212, 45%, 89%);
  font-family: "Outfit", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.component {
  width: 400px;
  height: 630px;
  padding: 18px;
  background-color: #fff;
  border-radius: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.component > img {
  width: 100%;
  height: 360px;
  border-radius: 20px;
  margin-bottom: 16px;
}

.component > h1 {
  font-size: 26px;
  color: hsl(218, 44%, 22%);
  width: 90%;
}

.component > p {
  color: hsl(220, 15%, 55%);
  font-size: 19px;
  width: 90%;
}
